<div ng-include="nav.html"></div>
<br>

<md-content ng-controller="adminController">
  <md-tabs md-dynamic-height md-border-bottom>

    <!-- TAB 1 CREATE EVENT -->
        <md-tab label="Create Event">
            <md-content class="md-padding">

              <h3 class="bottomspace"> Create An Event</h3>
              <!-- First Row -->
              <div class="row">
                  <div class="col-sm-6">
                      <div class="form-group">
                        <md-input-container md-no-float class="md-block">
                          <input ng-model="eventName" placeholder="Event Name">
                        </md-input-container>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-group">
                        <md-input-container md-no-float class="md-block">
                          <input ng-model="company" placeholder="Company">
                        </md-input-container>
                      </div>
                    </div><!-- Col -->
              </div>
              <!-- Second Row -->
              <div class="row">
                  <div class="col-sm-6">
                      <div class="form-group">
                        <md-input-container md-no-float class="md-block">
                          <input ng-model="addressOne" placeholder="Street Address">
                        </md-input-container>
                      </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="form-group">
                      <md-input-container md-no-float class="md-block">
                        <input ng-model="event_city" placeholder="City">
                      </md-input-container>
                    </div>
                  </div><!-- Col -->

                  <div class="col-sm-3">
                    <div class="form-group">
                      <md-input-container md-no-float class="md-block">
                        <input ng-model="event_state_province" placeholder="State/Province">
                      </md-input-container>
                    </div>
                  </div><!-- Col -->

              </div>

              <!-- Third Row -->
                         <div class="row">

                            <div class="col-sm-6">
                              <div class="form-group">
                                <md-input-container md-no-float class="md-block">
                                  <input ng-model="event_url" placeholder="Event URL">
                                </md-input-container>
                              </div>
                            </div><!-- Col -->

                            <div class="col-sm-3">
                              <div class="form-group">
                                <md-datepicker ng-model="begin_date" md-placeholder="Begin date"></md-datepicker>
                              </div>
                            </div><!-- Col -->

                            <div class="col-sm-3">
                              <div class="form-group">
                                <md-datepicker ng-model="end_date" md-placeholder="End date"></md-datepicker>
                              </div>
                            </div><!-- Col -->
                          </div><!-- Row -->
              <!-- Fourth Row -->
              <div class="row">
                        <div class="col-sm-9">
                          <div class="form-group">
                            <md-input-container md-no-float class="md-block">
                              <textarea ng-model="notes_events" md-maxlength="150" rows="1" placeholder="Event Notes"></textarea>
                            </md-input-container>
                          </div>
                        </div><!-- Col -->

                        <div class="col-sm-3">
                          <button class="createEventButton btn-lg btn-block" type="button" name="submitEventButton" ng-click= "createEvent()" >Create Event</button>
                      </div><!-- Col -->
                  </div><!-- Row -->

                  <!-- <p class="verifyHidden">The event has been created. You may now send an email to the paddlers alerting them to take the survey.</p> -->


             </md-content>
        </md-tab>

<!-- TAB 2  EVENTS -->

  <md-tab label="Events">
      <md-content class="md-padding">
      <div>
      <!-- <div class="container"> -->
        <h3> Select An Event To View Survey Results</h3>
        </br>
        <div ng-init="pageLoad()"></div>
          <div class="row">
              <div class="col-md-4">
                      <form name="userForm">
                        <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-lg>
                          <label>Choose an Event</label>
                          <md-select ng-model="eventChosen" class="bottomspacesmall">
                            <md-option ng-repeat="thing in alltheEvents" value="{{thing.id}}" class="bottomspace">
                              <b>{{thing.event_name}}</b>  ({{thing.begin_date | date: "MM-dd-yyyy"}})
                            </md-option>
                          </md-select><button class="createEventButton btn-md" ng-click="subEvent()">Submit Event</button>
                        </md-input-container>
                      </div>
                      </form>

                  <!-- Select/Assign a Hotel -->
                          <form name="userForm">
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-lg>
                                  <label>Choose an Hotel</label>
                                  <md-select ng-model="selectHotel" class="bottomspacesmall">
                                    <md-option ng-repeat="hotel in hotelSelect | filter: {hotel_name: '!TBA'}" value="{{hotel.id}}">
                                      {{hotel.hotel_name}}
                                    </md-option>
                                  </md-select><button class="createEventButton btn-md" ng-click="assignHotel( eventChosen )">Submit Hotel</button>
                                </md-input-container>

                              </div>
                            </form>



                            <hr>
                            <div class="row">
                                <div class="col-xs-5">
                                    <p class="inSurvey">In Survey Phase</p>
                                </div>
                                <div class="col-xs-2">
                                    <md-switch ng-model="data.cb1" aria-label="Switch 1" class="md-hue-5"></md-switch>
                                </div>
                                <div class="col-xs-5">
                                     <p><b>In Hotel Room Assignment Phase (surveys complete)</b></p>
                                </div>
                              </div> <!-- end row -->
                              <div align="center">
                              <button class="createEventButton btn-md" ng-click="saveDial( data.cb1, eventToDisplay.id )">Save Event Phase</button>
                            </div>
                              <hr>

              </div> <!-- End col 1 -->
              <div class="col-md-8"> <!-- Start col 2 -->
                            <div ng-show="eventToDisplay.length!==0"> <!-- hides the empty punctuation and text below that would show by itself before an event is selected -->
                                <p><span class="subhead">{{eventToDisplay.event_name}}</span><span class="subdate">{{ (eventToDisplay.begin_date | date: "MMMM dd, yyyy") }} - {{ (eventToDisplay.end_date | date: "MMMM dd, yyyy") }}</span>
                                <p><b>{{eventToDisplay.event_city}}, {{eventToDisplay.event_state_province}}  -  {{eventToDisplay.event_url}}  -  by {{eventToDisplay.company}}</b></p>
                                <p class="bottomspace">Notes: {{eventToDisplay.notes_events}}</p>
                            </div>
                            <p ng-show="surveyList.length==0">No survey results available.</p>

                            <h4>Survey Results</h4>
                            <table class="table table-striped">
                              <thead class="rowline">
                                 <th>Paddler Name</th>
                                 <th>Attend Status</th>
                                 <th>Hotel Block?</th>
                                 <th>Room Preference</th>
                                 <th># Non-Paddlers</th>
                                 <th >Notes</th>
                              </thead>

                             <tr ng-repeat="record in surveyList | orderBy:username">
                               <td class="capitalize">{{record.first_name}} {{record.last_name}}</td>
                               <td class="capitalize">{{record.attend_status}}</td>
                               <td>{{record.hotel_status?'Yes':'No'}}</td>
                               <td class="capitalize">{{record.roommate_option}}</td>
                               <td>{{record.num_non_paddlers}}</td>
                               <td class="capitalize">{{record.notes_survey_room}}</td>
                              </tr>
                             </table>
              </div><!-- End col 2 -->
            </div> <!-- End row-->
          </div> <!-- end container -->
        </md-content>
     </md-tab>



<!-- TAB 3 // HOTEL LIST -->
        <md-tab class="hotelTime" label="Hotel List">
            <md-content class="md-padding">

              <div ng-controller="adminController"> <!-- begin hotel information -->
                <h3> Add An Hotel</h3>
                      <!-- ROW 1-->
                                <div class="row">
                                    <div class="col-xs-6 col-sm-3">
                                        <md-input-container md-no-float class="md-block">
                                          <input ng-model="hotel_name" placeholder="Hotel Name">
                                        </md-input-container>
                                    </div>
                                    <div class="col-xs-6 col-sm-5">
                                         <md-input-container md-no-float class="md-block">
                                           <input ng-model="hotel_address" placeholder="Address">
                                         </md-input-container>
                                    </div>
                                    <div class="col-xs-6 col-sm-2">
                                         <md-input-container md-no-float class="md-block">
                                           <input ng-model="hotel_city" placeholder="City">
                                         </md-input-container>
                                    </div>
                                    <div class="col-xs-6 col-sm-1">
                                          <md-input-container md-no-float class="md-block">
                                            <input ng-model="hotel_state" placeholder="State">
                                          </md-input-container>
                                    </div>
                                    <div class="col-xs-6 col-sm-1">
                                      <md-input-container md-no-float class="md-block">
                                        <input ng-model="hotel_zip" placeholder="Zip">
                                      </md-input-container>
                                    </div>
                                  </div><!-- end row 1-->
                        <!-- ROW 2-->
                                  <div class="row">
                                      <div class="col-xs-6 col-sm-2">
                                          <md-input-container md-no-float class="md-block">
                                            <input ng-model="hotel_phone"  placeholder="Phone">
                                          </md-input-container>
                                        </div>
                                      <div class="col-xs-6 col-sm-3">
                                           <md-input-container md-no-float class="md-block">
                                             <input ng-model="hotel_url" placeholder="Website">
                                           </md-input-container>
                                      </div>
                                      <div class="col-xs-5">
                                            <md-input-container md-no-float class="md-block">
                                              <textarea ng-model="hotel_notes" md-maxlength="150" rows="1" placeholder="Hotel Notes"></textarea>
                                            </md-input-container>
                                      </div>
                                      <div class="col-xs-2">
                                            <button class="createEventButton btn-lg btn-block" type="button" name="createHotelButton" ng-click= "newHotel()" >Add Hotel</button>
                                      </div>
                                  </div><!-- end row 2-->

              <div>
                <p ng-show="hotel.length==0">No hotels available.</p>
                  <table class="table table-striped">
                    <thead class="rowline">
                      <th>Hotel Name</th>
                      <th>Address</th>
                      <th>City</th>
                      <th>State</th>
                      <th>Zip</th>
                      <th>Phone</th>
                      <th>Website</th>
                      <th>Notes</th>
                      <th>Delete</th>
                    </thead>
                    <br>

                     <tr ng-repeat="hotel in hotels | orderBy:hotel_name | filter: {hotel_name: '!TBA'}" >
                       <td>{{hotel.hotel_name}}</td>
                       <td>{{hotel.hotel_address}}</td>
                       <td>{{hotel.hotel_city}}</td>
                       <td>{{hotel.hotel_state_province}}</td>
                       <td>{{hotel.hotel_zip}}</td>
                       <td>{{hotel.hotel_phone}}</td>
                       <td><a href="{{hotel.hotel_url}}" target="_blank">{{hotel.hotel_url}}</a></td>
                       <td>{{hotel.hotel_notes}}</td>
                       <td class="hotelButtons"><button type="button" class="btn btn-danger" ng-click= "deleteHotel(hotel.id)">Delete Hotel</button></td>
                     </tr>
                    </table>
                  </div>
              </div>  <!-- End hotel information -->
       </md-content>
  </md-tab>





  <!-- TAB 4 // HOTEL BUILDER -->
    <md-tab label="Hotel Room Builder">
        <md-content class="md-padding">
          <div ng-controller="adminController"> <!-- begin Tab 4 hotel information -->

    <!-- ADD ROOM -->
    <h3>Add Hotel Room</h3>
    <h4>{{ eventToModify.name }}</h4>

            <!-- First Row -->
                  <div class="row">
                         <div class="col-sm-4">
                           <div class="form-group">
                             <md-input-container md-no-float class="md-block">
                               <input ng-model="room_type" placeholder="Room Type">
                             </md-input-container>
                           </div>
                         </div><!-- Col -->

                         <div class="col-sm-4">
                           <div class="form-group">
                             <md-input-container md-no-float class="md-block">
                               <input ng-model="capacity"  placeholder="Capacity">
                             </md-input-container>
                           </div>
                         </div><!-- Col -->

                         <div class="col-sm-4">
                           <div class="form-group">
                             <md-input-container md-no-float class="md-block">
                               <input ng-model="price"  class="price" type="number" step="0.01" placeholder="Price">
                               <img class="dollarsign" src="assets/images/dollarsign.png"></img>
                             </md-input-container>
                           </div>
                         </div><!-- Col -->
                  </div><!-- Row -->

        <!-- Second Row -->
              <div class="row">
                      <div class="col-sm-2">
                        <div class="form-group">
                            <md-datepicker ng-model="check_in" md-placeholder="Check In Date"></md-datepicker>
                        </div>
                      </div><!-- Col -->

                        <div class="col-sm-2">
                          <div class="form-group">
                            <md-datepicker ng-model="check_out" md-placeholder="Check Out Date"></md-datepicker>
                          </div>
                        </div><!-- Col -->

                          <div class="col-sm-6">
                            <div class="form-group">
                              <md-input-container md-no-float class="md-block">
                                <input ng-model="notes"  placeholder="Notes">
                              </md-input-container>
                                </div>
                            </div><!-- Col -->

                            <div class="col-sm-2">
                               <button class="createEventButton btn-lg" type="button" name="addRoomButton" ng-click= "addRoom()" >Add Room</button>
                            </div><!-- Col -->
                        </div><!-- Row -->
            </md-content>

<!--SHOW ROOM  -->
<table class="table table-striped">
  <thead class="rowline">
            <th >Room ID</th>
            <th>Room Number</th>
            <th>Type</th>
            <th>Capacity</th>
            <th>Price</th>
            <th>Check In Date</th>
            <th>Check Out Date</th>
            <th>Notes</th>
            <th>Actions</th>
        </thead>
        <tr ng-repeat="record in roomToShow | orderBy:record.id">
          <td>{{ record.id }}</td>
          <td><span editable-text="record.room_number" e-form="rowform" e-required>{{ record.room_number }}</span></td>
          <td><span editable-text="record.room_type" e-form="rowform" e-required>{{ record.room_type }}</span></td>
          <td>{{ record.capacity }}</td>
          <td><span editable-text="record.price" e-form="rowform" e-required>{{ record.price | currency:"$"}}</span></td>
          <td><span editable-date="record.check_in" e-form="rowform" e-required>{{ (record.check_in | date: "MM-dd-yyyy") }}</span></td>
          <td><span editable-date="record.check_out" e-form="rowform" e-required>{{ (record.check_out | date: "MM-dd-yyyy")}}</span></td>
          <td><span editable-text="record.notes" e-form="rowform" e-required>{{ record.notes }}</span></td>
          <td style="white-space:nowrap">
            <form editable-form name="rowform" onaftersave="makeSqlHappy(record.room_number, record.room_type, record.capacity, record.price, record.check_in, record.check_out, record.notes, record.id )" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == record">
              <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary createEventButton">Save</button>
              <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default orangeButton"> Cancel</button>
            </form>
            <div class="buttons" ng-show="!rowform.$visible">
              <button class="btn btn-primary createEventButton" ng-click="rowform.$show()">Edit</button>
              <button class="btn btn-primary createEventButton" ng-click="deleteSlots(record.id)">Delete</button>
            </div>
        </td> <!-- end buttons in row -->
    </tr>
</table> <!-- end table showing rooms -->


      </div><!-- end tab 4 controller -->
     </md-content>
    </md-tab>

  </md-tabs>
</md-content>
