<md-content ng-controller="adminController">
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Survey Results">
        <md-content class="md-padding">
          <h1 class="md-display-2">Survey Results</h1>

            <div>
              <h4>Event:</h4>
              <p ng-show="eventList.length==0">No event information available.</p>
                  <p>{{record.event}}</p>
                  <p>{{record.addressOne}}, {{record.addressTwo}}</p>
                  <p>{{record.city}}, {{record.state_province}}</p>
                  <p>Event website: {{record.event_url}}</p>
                  <p>Schedule website: {{record.event}}</p>
                  <p>{{record.begin_date}} - {{record.end_date}}</p>
                  <p>{{record.company}}</p>
                  <p>Results website: {{record.results_url}}</p>
                  <p>Notes: {{record.notes_events}}</p>
            </div> <!--end row - Event Information-->

              <p ng-show="surveyList.length==0">No survey results available.</p>
              <table class="table-bordered">
               <tr>
                 <td> <h4>Paddler Name</h4></td>
                 <td> <h4>Attend Status</h4></td>
                 <td> <h4>Want In Hotel Block?</h4></td>
                 <td> <h4>Room Preference</h4></td>
                 <td> <h4>Number of Non-Paddlers Coming</h4></td>
                 <td> <h4>Notes</h4></td>
                 </tr>
               <tr ng-repeat='record in surveyList | orderBy:username'>  <!-- surveyList is name of array in adminController.js -->
                 <td> <p>{{username}}</p></td>
                 <td> <p>{{attendStatus}}</p></td>
                 <td> <p>{{hotelBlock}}</p></td>
                 <td> <p>{{roomPreference}}</p></td>
                 <td> <p>{{numNonPaddlers}}</p></td>
                 <td> <p>{{notes_survey}}</p></td>
                </tr>
               </table>

             </md-content>
        </md-tab>

<!-- SECOND TAB // HOTEL LIST -->
        <md-tab label="Hotel List">
            <md-content class="md-padding">
              <h1 class="md-display-2">Hotel List</h1>

              <div class="row" ng-controller="adminController"> <!-- begin hotel information -->
                <p ng-show="hotel.length==0">No hotels available.</p>
                  <table class="table table-striped">
                    <thead>
                      <th>Hotel Name</th>
                      <th>Address</th>
                      <th>City</th>
                      <th>State or Province</th>
                      <th>Zip</th>
                      <th>Phone</th>
                      <th>Website</th>
                      <th>Notes</th>
                      <th>Assign to Event</th>
                    </thead>
                     <tr ng-repeat='hotel in hotels | orderBy:hotel_name'>  <!-- hotelList is name of array in adminController.js -->
                       <td>{{hotel.id}}</td>
                       <td>{{hotel.hotel_name}}</td>
                       <td>{{hotel.hotel_address}}</td>
                       <td>{{hotel.hotel_city}}</td>
                       <td>{{hotel.hotel_state}}</td>
                       <td>{{hotel.hotel_zip}}</td>
                       <td>{{hotel.hotel_phone}}</td>
                       <td>{{hotel.hotel_url}}</td>
                       <td>{{hotel.hotel_notes}}</td>
                       <td class="hotelButtons"> <md-button class="md-raised md-primary" ng-click= "assignHotel(hotel.id)">Assign</md-button><md-button class="md-raised md-warn hotelButtons" ng-click= "deleteHotel(hotel.id)">Delete Hotel</md-button></td>
                       <!-- <td> <md-button class="md-raised md-warn hotelButtons" ng-click= "deleteHotel(hotel.id)">Delete Hotel</md-button></td> -->
                     </tr>
                  </table>
                     <h4>Add A Hotel</h4><br>

                     <md-input-container class="md-block">
                       <label>Hotel Name</label>
                       <input ng-model="hotel_name">
                     </md-input-container>
                     <md-input-container class="md-block">
                       <label>Hotel Address</label>
                       <input ng-model="hotel_address">
                     </md-input-container>
                     <md-input-container class="md-block">
                       <label>Hotel City</label>
                       <input ng-model="hotel_city">
                     </md-input-container>
                     <md-input-container class="md-block">
                       <label>Hotel Stat</label>
                       <input ng-model="hotel_state">
                     </md-input-container>
                     <md-input-container class="md-block">
                       <label>Hotel Zip</label>
                       <input ng-model="hotel_zip">
                     </md-input-container>
                     <md-input-container class="md-block">
                       <label>Hotel Phone</label>
                       <input ng-model="hotel_phone">
                     </md-input-container>
                     <md-input-container class="md-block">
                       <label>Hotel Website</label>
                       <input ng-model="hotel_url">
                     </md-input-container>
                     <md-input-container class="md-block">
                       <label>Hotel Notes</label>
                       <input ng-model="hotel_notes">
                     </md-input-container>

                     <button type="button" name="createHotelButton" ng-click= "newHotel()" >Add Hotel</button>
                   </div>

            <button ng-click="showEvent()">Show me the dog!!</button>

          </div>
       </md-content>
  </md-tab>

<!-- THIRD TAB // HOTEL BUILDER -->
  <md-tab label="Hotel Room Builder">
      <md-content class="md-padding">
        <h1 class="md-display-2">Tab One</h1>
        <div class="row" ng-controller="adminController"> <!-- begin hotel information -->
          <p ng-show="hotel.length==0">No hotels available.</p>
          <h4>Add Hotel Room</h4>

  <!-- ADD ROOM -->

          <div class="panel panel-default createRoomContainer">
             <div class="panel-heading">
              <h1 class="panel-title">Add Hotel Room</h1>
             </div>
             <div class="panel-body">
               <!-- ROW 1 -->
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                       <label class="control-label">Hotel ID (temporary field)</label>
                       <input class="form-control" type= "text" ng-model= "hotels_id" value= "" >
                     </div> <!--end group-->
                   </div><!--end col-->
                   <div class="col-sm-6">
                     <div class="form-group">
                       <label class="control-label">Event ID (temporary field)</label>
                       <input class="form-control" type= "text" ng-model= "events_id" value= "" >
                     </div><!--end group-->
                   </div> <!--end col-->
                 </div> <!-- ends row -->
               <div class="row">
                           <div class="col-sm-4">
                             <div class="form-group">
                                <label class="control-label">Room Type</label>
                                <input class="form-control" type= "text" ng-model= "room_type" value= "" >
                              </div> <!--end group-->
                            </div><!--end col-->
                            <div class="col-sm-4">
                              <div class="form-group">
                                <label class="control-label">Capacity</label>
                                <input class="form-control" type= "text" ng-model= "capacity" value= "" >
                              </div><!--end group-->
                            </div> <!--end col-->
                            <div class="col-sm-4">
                              <div class="form-group">
                                <label class="control-label">Price</label>
                                <input class="form-control" type= "text" ng-model= "price" value= "" >
                              </div> <!--end group-->
                            </div> <!--end col-->
                </div> <!-- end row -->
                 <div class="row">
                   <div class="col-sm-3">
                      <div class="form-group">
                          <label class="control-label">Check In Date</label>
                          <input class="form-control" ng-model= "check_in" value= "" type= "date" ui-date="{dateFormat: 'yyyy-mm-dd'}">
                      </div>  <!--end group-->
                   </div> <!--end col-->
                   <div class="col-sm-3">
                      <div class="form-group">
                          <label class="control-label">Check Out Date</label>
                          <input class="form-control" ng-model= "check_out" value= "" type= "date" ui-date="{dateFormat: 'yyyy-mm-dd'}">
                      </div>  <!--end group-->
                   </div> <!--end col-->
                   <div class="col-sm-6">
                     <div class="form-group">
                       <label class="control-label">Notes</label>
                       <input class="form-control" type= "text" ng-model= "notes" value= "" >
                     </div>  <!--end group-->
                  </div> <!--end col-->
                </div> <!-- end row -->
               <button type="button" name="addRoomButton" ng-click= "addRoom()" >Add Room</button>
             </div> <!-- end panel body -->
           </div>  <!-- end createRoomContainer -->

<!--SHOW ROOM  -->
          <table class="table table-bordered table-hover table-condensed">
                  <tr style="font-weight: bold">
                      <th>Room ID</th>
                      <th>Room Number</th>
                      <th>Type</th>
                      <th>Capacity</th>
                      <th>Price</th>
                      <th>Check In Date</th>
                      <th>Check Out Date</th>
                      <th>Notes</th>
                  </tr>
                  <tr ng-repeat='record in roomToShow'>
                    <td><span editable-text="record.id" e-form="rowform" e-required>{{ record.id }}</span></td>
                    <td><span editable-text="record.room_number" e-form="rowform" e-required>{{ record.room_number }}</span></td>
                    <td><span editable-text="record.room_type" e-form="rowform" e-required>{{ record.room_type }}</span></td>
                    <td><span editable-text="record.capacity" e-form="rowform" e-required>{{ record.capacity }}</span></td>
                    <td><span editable-text="record.price" e-form="rowform" e-required>{{ record.price }}</span></td>
                    <td><span editable-date="record.check_in" e-form="rowform" e-required>{{ (record.check_in | date: "MM-dd-yyyy") }}</span></td>
                    <td><span editable-date="record.check_out" e-form="rowform" e-required>{{ (record.check_out | date: "MM-dd-yyyy")}}</span></td>
                    <td><span editable-text="record.notes" e-form="rowform" e-required>{{ record.notes }}</span></td>

                    <td style="white-space:nowrap">
                      <form editable-form name="rowform" onaftersave="makeSqlHappy(record.room_number, record.room_type, record.capacity, record.price, record.check_in, record.check_out, record.notes, record.id )" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == record">

                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            Save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                            Cancel
                        </button>
                      </form>
                      <div class="buttons" ng-show="!rowform.$visible">
                        <button class="btn btn-primary" ng-click="rowform.$show()">Edit</button>
                        <button class="btn btn-primary" ng-click="deleteRoom(record.id)">Delete</button>
                      </div>
                  </tr>
                </table>  <!-- end room -->


      </div><!-- end hotel information -->
     </md-content>
    </md-tab>

  </md-tabs>
</md-content>
