<!DOCTYPE html>
  <head>
    <title>Survey Results</title>
  </head>

  <body>

    <div id="tabs" ng-controller="adminController">
        <ul>
            <li class = "tabLi"
                ng-repeat="tab in tabs"
                ng-class="{active:isActiveTab(tab.url)}"
                ng-click="onClickTab(tab)">{{tab.title}}</li>
        </ul>
        <div id="mainView">
            <div ng-include="currentTab"></div>
        </div>
    </div>
<!-- FIRST TAB -->
    <script type="text/ng-template" id="one.tpl.html">
		<div id="viewOne">
      <div class="container" ng-init='eventAndSurveyRequest()'>
          <h3>Survey Results</h3>
          <h4>Event:</h4>
          <p ng-show="eventList.length==0">No event information available.</p>
          <div class="row" ng-repeat='record in eventList'> <!-- Begin event info. eventList is name of array in adminController.js -->
              <p>{{record.event}}</p>
              <p>{{record.addressOne}}, {{record.addressTwo}}</p>
              <p>{{record.city}}, {{record.state_province}}</p>
              <p>Event website: {{record.event_url}}</p>
              <p>Schedule website: {{record.event}}</p>
              <p>{{record.begin_date}} - {{record.end_date}}</p>
              <p>{{record.company}}</p>
              <p>Results website: {{record.results_url}}</p>
              <p>Notes: {{record.notes_events}}</p>
            </div> <!--end row - Event Information-->
            <div class="row"> <!-- begin survey information -->
              <p ng-show="surveyList.length==0">No survey results available.</p>
              <table class="table-bordered">
               <tr>
                 <td> <h4>Paddler Name</h4></td>
                 <td> <h4>Attend Status</h4></td>
                 <td> <h4>Want In Hotel Block?</h4></td>
                 <td> <h4>Room Preference</h4></td>
                 <td> <h4>Number of Non-Paddlers Coming</h4></td>
                 <td> <h4>Notes</h4></td>
                 </tr>
               <tr ng-repeat='record in surveyList | orderBy:username'>  <!-- surveyList is name of array in adminController.js -->
                 <td> <p>{{username}}</p></td>
                 <td> <p>{{attendStatus}}</p></td>
                 <td> <p>{{hotelBlock}}</p></td>
                 <td> <p>{{roomPreference}}</p></td>
                 <td> <p>{{numNonPaddlers}}</p></td>
                 <td> <p>{{notes_survey}}</p></td>
                 </tr>
               </table>
             </div><!-- end survey information -->
    	</script>
<!-- SECOND TAB -->
    	<script type="text/ng-template" id="two.tpl.html">
    		<div id="viewTwo" ng-controller="adminController">

          <div class="row"> <!-- begin hotel information -->
            <p ng-show="hotelList.length==0">No hotels available.</p>
            <table class="table-bordered">
             <tr>
               <td> <h4>Hotel Name</h4></td>
               <td> <h4>Address</h4></td>
               <td> <h4>City</h4></td>
               <td> <h4>State or Province</h4></td>
               <td> <h4>Zip</h4></td>
               <td> <h4>Phone</h4></td>
               <td> <h4>Website</h4></td>
               <td> <h4>Notes</h4></td>
               <td> <h4>Assign to Event</td>
               </tr>
             <tr ng-repeat='hotel in hotelList | orderBy:hotel_name'>  <!-- hotelList is name of array in adminController.js -->
               <td> <p>{{hotel_name}}</p></td>
               <td> <p>{{hotel_address}}</p></td>
               <td> <p>{{hotel_city}}</p></td>
               <td> <p>{{hotel_state}}</p></td>
               <td> <p>{{hotel_zip}}</p></td>
               <td> <p>{{hotel_phone}}</p></td>
               <td> <p>{{hotel_url}}</p></td>
               <td> <p>{{hotel_notes}}</p></td>
               <td> <button type="button" name="hotelButton" ng-click= "assignHotel()">Assign</button></td>
               </tr>
             </table>
             <h4>Add A Hotel</h4>

             <input type= "text" ng-model= "hotel_name" value= "" placeholder="hotel name" required>
             <input type= "text" ng-model= "hotel_address" value= "" placeholder="street address">
             <input type= "text" ng-model= "hotel_city" value= "" placeholder="city">
             <input type= "text" ng-model= "hotel_state" value= "" placeholder="state/province">
             <input type= "text" ng-model= "hotel_zip" value= "" placeholder="zip">
             <input type= "text" ng-model= "hotel_phone" value= "" placeholder="phone">
             <input type= "text" ng-model= "hotel_url" value= "" placeholder="hotel web address">
             <input type= "text" ng-model= "hotel_notes" value= "" placeholder="notes">

             <button type="button" name="createHotelButton" ng-click= "newHotel()" >Add Hotel</button>

           </div>

    <button ng-click="showEvent()">Show me the dog!!</button>

  </div><!-- end hotel information -->



    	</script>
<!-- THIRD TAB -->
    	<script type="text/ng-template" id="three.tpl.html">
    		<div id="viewThree">

    	</script>
    </div>
  </body>
