
  <body>
   <div class="panel panel-default createEventContainer">
      <div class="panel-heading">
       <h1 class="panel-title">Create New Event</h1>
      </div>
      <div class="panel-body">

<!-- First Row -->
        <div class="form-group">
        <label class="control-label">Event Name</label>
          <input class="form-control" type= "text" ng-model= "eventName" value= "" required>
        </div>
<!-- Second Row -->
        <div class="form-group">
        <label class="control-label">Street Address</label>
          <input class="form-control" type= "text" ng-model= "addressOne" value= "">
        </div>
<!-- Third Row -->
          <div class="row">
             <div class="col-sm-4">
               <div class="form-group">
                 <label class="control-label">Address</label>
                 <input class="form-control" type= "text" ng-model= "addressTwo" value= "">
               </div>
             </div><!-- Col -->

             <div class="col-sm-4">
               <div class="form-group">
                 <label class="control-label">City</label>
                 <input class="form-control" type= "text" ng-model= "event_city" value= "">
               </div>
             </div><!-- Col -->

             <div class="col-sm-4">
               <div class="form-group">
                 <label class="control-label">State/Province</label>
                 <input class="form-control" type= "text" ng-model= "event_state_province" value= "">
               </div>
             </div><!-- Col -->
           </div><!-- Row -->
<!-- Fourth Row -->
           <div class="row">

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="control-label">Event URL</label>
                  <input class="form-control" type= "text" ng-model= "event_url" value= "">
                </div>
              </div><!-- Col -->

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="control-label">Company</label>
                  <input class="form-control" type= "text" ng-model= "company" value= "">
                </div>
              </div><!-- Col -->
            </div><!-- Row -->
<!-- Fifth Row -->
           <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="control-label">Results URL</label>
                  <input class="form-control" type= "text" ng-model= "results_url" value= "">
                </div>
              </div><!-- Col -->

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="control-label">Schedule URL</label>
                  <input class="form-control" type= "text" ng-model= "schedule_url" value= "">
                </div>
              </div><!-- Col -->
            </div><!-- Row -->
<!-- Sixth Row -->
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label class="control-label">Begin Date:</label>
                  <input class="form-control" type= "date" ng-model= "begin_date" ui-date="{dateFormat: 'yyyy-mm-dd'}">
                </div>
              </div><!-- Col -->

              <div class="col-sm-3">
                <div class="form-group">
                  <label class="control-label">End Date:</label>
                  <input class="form-control" type= "date" ng-model= "end_date" ui-date="{dateFormat: 'yyyy-mm-dd'}">
                </div>
              </div><!-- Col -->
            </div><!-- Row -->
<!-- Seventh Row -->
            <div class="form-group">
                <label class="control-label"></label>
                <textarea class="form-control" type= "text" ng-model= "notes_events" value= "" placeholder="notes" rows="8"></textarea>
            </div>

            <button class="createEventButton btn-lg btn-block" type="button" name="submitEventButton" ng-click= "createEvent()" >Create Event</button>

    </div>
  </div>
