
<div main>

	<div class="wide">
		<div class="col-sm-2 "></div>
		<div class="col-sm-2 line"><hr></div>
			<h2 class="col-xs-4 homeHeader">2016 EVENTS</h2>
		<div class="col-sm-2 line"><hr></div>
		<div class="col-sm-2 "></div>
	</div>

</div>

<div class="upcomingEvents">
	<div role="button" ng-click="assignEvent('1')" class=".col-xs-6 .col-sm-3 homeEvent">
		<h2 class="eventHeader">Quebec Cup</h2>
		<h4> 6/25 </h4>
	</div>
	<div role="button" ng-click="assignEvent('2')" class=".col-xs-6 .col-sm-3 homeEvent">
		<h2 class="eventHeader">Riverfront Dragon Boat & Asian Festival</h2>
		<h4> 6/25 </h4>
	</div>
	<div role="button" ng-click="assignEvent('3')" class=".col-xs-6 .col-sm-3 homeEvent">
		<h2 class="eventHeader">Montreal Challenge</h2>
		<h4> 6/25 </h4>
	</div>
	<div role="button" ng-click="assignEvent('4')" class=".col-xs-6 .col-sm-3 homeEvent">
		<h2 class="eventHeader">Springfield Dragon Boat Festival</h2>
		<h4> 6/25 </h4>
	</div>

	<!-- <button ng-click="showEvent()">View Event</button>
	<button ng-click="assignEvent('1')">Assign Event = Corgi </button>
	<button ng-click="assignEvent('2')">Assign Event = Pit Bull</button>
	<button ng-click="assignEvent('3')">Assign Event = Chihuahua</button> -->

</div>
