
<div main>

	<div class="wide">
		<div class="col-sm-2 "></div>
		<div class="col-sm-2 line"><hr></div>
			<h2 class="col-xs-4 homeHeader">2016 EVENTS</h2>
		<div class="col-sm-2 line"><hr></div>
		<div class="col-sm-2 "></div>
	</div>


	<button ng-click="showEvent()">View Event</button>
	<button ng-click="assignEvent('Corgi')">Assign Event = Corgi </button>
	<button ng-click="assignEvent('PitBull')">Assign Event = Pit Bull</button>
	<button ng-click="assignEvent('Chihuahua')">Assign Event = Chihuahua</button>
</div>
