<div class="survey" ng-controller="surveyController">
  <div class="surveyContainer">
    <label class="control-label"></label>

    <form>
      <h1 class="surveyTitle"> Please share any info about your accommodation. </h1><br/><br/>
      <textarea class="form-control" type= "text" ng-model= "notes_other_accommodation" value= "" placeholder="notes" rows="8"></textarea><br>

      <md-button class="md-raised surveyButton" ng-click="otherAccommodationNotes()"> Submit </md-button>

    </form>

  </div>
</div>
