<div class="survey" ng-controller="surveyController">
  <div class="surveyContainer">
    <label class="control-label"></label>

    <form>
    <textarea class="form-control" type= "text" ng-model= "notes_other_accommodation" value= "" placeholder="notes" rows="8"></textarea>

    <!-- <button class="btn btn-primary btn-lg btn-block" type="submit" ng-click= "otherAccomodationNotes()">Submit</button> -->
    <!-- <input class="btn btn-primary btn-lg btn-block" type="button" name="submitButton" id="submitButton" value="submit" ng-click="otherAccommodationNotes(user.id)"> -->
    <input class="btn btn-primary btn-lg btn-block" type="button" name="submitButton" id="submitButton" value="submit" ng-click="otherAccommodationNotes()">

    </form>
  </div>
</div>
