
<div class="login">

  <h2 class="login-header">Register User</h2>
  <h1 class="lead alert alert-danger" role="alert" ng-if="message != ''">{{message}}</h2>

  <form ng-submit="registerUser()" class="md-whiteframe-1dp">

    <md-input-container class="md-block">
      <label>First Name</label>
      <input required name="firstName" ng-model="user.first_name">
      <div ng-messages="firstName.$error">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Last Name</label>
      <input required name="password" ng-model="user.last_name">
      <div ng-messages="password.$error">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Username</label>
      <input required name="username" ng-model="user.username">
      <div ng-messages="username.$error">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Password</label>
      <input required name="password" type="password" ng-model="user.password">
      <div ng-messages="password.$error">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Email</label>
      <input required type="email" name="email" ng-model="user.email"
             minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
      <div ng-messages="email.$error" role="alert">
        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
          Your email must be between 10 and 100 characters long and look like an e-mail address.
        </div>
      </div>
    </md-input-container>

    <!-- <p><input type="text" placeholder="FIRST NAME" ng-model="user.first_name"></p>
    <p><input type="text" placeholder="LAST NAME" ng-model="user.last_name"></p>
    <p><input type="username" placeholder="USERNAME" ng-model="user.username"></p>
    <p><input type="password" placeholder="PASSWORD" ng-model="user.password"></p>
    <p><input type="email" placeholder="EMAIL" ng-model="user.email"></p> -->

    <p><input type="submit" value="COMPLETE REGISTRATION"></p>

    <p><a type="submit" class="reg" href="#login">CANCEL</a></p>

  </form>
</div>
