<div ng-include="nav.html"></div>
<md-content> <!-- need a ng-init to pass in eventid -->
<div id="exportPDF" ng-init = "eventidFunction()" class="container">
    <h3>Room Assigner for {{ stuff.event_name }}</h3>
    <h4>Hotel: [HOTELNAME]</h4>
    <br />
    <h4>Click on the See Occupant buttons in the rooms below to enter your name and the names of any non-paddlers coming with you into empty bed spaces.</h4>

<!-- <table>
  <tr ng-repeat "y in grid">
    <td ng-repeat="x in y"></td>
    <p ng-repeat="z in x track by $index">{{z.indexOf(1)}}</p>
  </tr>
</table> -->




<div>
<!-- <table>
<tr ng-repeat="y in slots">
 <td ng-repeat="x in y track by $index">{{x}} </td>
 <p ng-repeat="z in x track by $index"></p>
</tr>
</table> -->

    <p>Event ID Number: </p>
    <input type= "text" ng-model= "events_id" value= ""><button type="button" ng-click= "getRoom2()" >Get Rooms</button>
      <div class="row">
        <div class="container">
        <div ng-repeat='record in roomToShow'>
          <div class="col-xs-6 col-sm-3 roomAssigner">

              <p class="roomback">Room ID: {{ record.id }}  <span class=roomnumber>Room Number: {{ record.room_number }}</span></p>
              <p class=roomtext>Room Type: <b>{{ record.room_type }}</b> <span class=roomnumber>Price: <b>{{ record.price | currency:"$" }}</b></span></p>
              <p class=roomtext>Check In Date: <b>{{ (record.check_in | date: "MM-dd-yyyy") }}</b></p>
              <p class=roomtext>Check Out Date: <b>{{ (record.check_out | date: "MM-dd-yyyy")}}</b></p>
              <p class=roomtext>Notes: <b>{{ record.notes }}</b></p>
              <div align="center"><button class="createEventButton btn-sm bottomspacesmall" ng-click="seeRoom(record.id)">See Occupants</button></div>
              <!-- <table class="table table-bordered table-hover table-condensed"> -->
                  <!-- <tr>   -->
                    <!-- occupant code -->
                      <!-- <td><span editable-text="x" e-form="rowform" e-required class="occupant"> {{x}} </span></td>
                      <td style="white-space:nowrap"> -->
                        <!-- <form editable-form name="rowform" onaftersave="updateOccupants(record.guest_name, record.users_id, record.rooms_id )"  ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == record">
                          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">Update</button>
                          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">Cancel</button>
                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                          <button class="btn btn-primary" ng-click="rowform.$show()">Edit</button>
                        </div> -->
                <!--   </tr>       end row-->
              <!--  </table>  end occupant code -->
              </div>
        	</div> <!-- end room code -->
        </div> <!-- end row -->




      </div><!-- end container -->
</div><!-- end id for export pdf -->
</md-content>
