<div ng-include="nav.html"></div>
<md-content> <!-- need a ng-init to pass in eventid -->
<div id="exportPDF" class="container">
    <h3>Room Assigner for {{  }}</h3>
    <h4>Hotel: [HOTELNAME]</h4>
    <br />
    <h4>Click on the See Occupant buttons in the rooms below to enter your name and the names of any non-paddlers coming with you into empty bed spaces.</h4>

<!-- <table>
  <tr ng-repeat "y in grid">
    <td ng-repeat="x in y"></td>
    <p ng-repeat="z in x track by $index">{{z.indexOf(1)}}</p>
  </tr>
</table> -->




<div>
<!-- <table>
<tr ng-repeat="y in slots">
 <td ng-repeat="x in y track by $index">{{x}} </td>
 <p ng-repeat="z in x track by $index"></p>
</tr>
</table> -->

    <p>Event ID Number: </p>
    <input type= "text" ng-model= "events_id" value= ""><button type="button" ng-click= "getRoom2()" >Get Rooms</button>
      <div class="row">
        <div class="container">
        <div ng-repeat='record in roomToShow'>
          <div class="col-xs-6 col-sm-3 roomAssigner">

              <p class="roomback">Room ID: {{ record.id }}  </p>
              <p class="roomback roomnumber">Room Number: {{ record.room_number }}</span></p>
              <p class="roomtext">Room Type: <b>{{ record.room_type }}</b> <span class="roomnumber">Price: <b>{{ record.price | currency:"$" }}</b></span></p>
              <p class="roomtext">Check In Date: <b>{{ (record.check_in | date: "MM-dd-yyyy") }}</b></p>
              <p class="roomtext">Check Out Date: <b>{{ (record.check_out | date: "MM-dd-yyyy")}}</b></p>
              <p class="roomtext">Notes: <b>{{ record.notes }}</b></p>

              <div ng-controller="MyCtrl">
                <div align="center">
                  <a class="createEventButton btn-sm bottomspacesmall" ng-click="preToggle(record.id)">Room Occupants</a>
                  <br />
                </div>
                <modal-dialog show='modalShown' width='330px' height='330px'>

                  <div class="row">
                    <div class="container">
                      <div class="col-md-3">
                          <div>
                              <h4>Room {{roomId}}</h4>
                              <table class="table table-bordered table-hover table-condensed">
                                <thead class="rowline">
                                  <th>Occupant</th>
                                  <th>Actions</th>
                                </thead>
                                <tr ng-repeat="thing in guests">
                                    <td><span editable-text="thing.guest_name" e-form="rowform" e-required>{{ thing.guest_name || "empty" }}</span></td>
                                    <!-- <td><a href="#" editable-text="thing.guest_name">{{ thing.guest_name || "empty" }}</a></td> -->
                                    <td style="white-space:nowrap">
                                      <form editable-form name="rowform"  ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == record">
                                        <button type="submit" ng-disabled="rowform.$waiting" class="createEventButton btn-sm">Replace</button>
                                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="orangeButton btn-sm"> Cancel</button>
                                      </form>
                                      <div class="buttons" ng-show="!rowform.$visible">
                                        <button class="createEventButton btn-sm" ng-click="rowform.$show()">Edit</button>
                                      </div>
                                    </td>
                                </tr> <!-- end row repeat -->
                              </table>
                              <div align="center">
                              <button class="createEventButton btn-sm" ng-click="showMe()">Save</button>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                    </modal-dialog>
                  </div> <!--end MyCtrl modal controller  -->
                  <br />

              </div>
        	</div> <!-- end room code -->
        </div> <!-- end row -->




      </div><!-- end container -->
</div><!-- end id for export pdf -->
</md-content>
