<div ng-include="nav.html"></div>
<!-- <md-content>  need a ng-init to pass in eventid -->
<md-content>
<div>
  <h2>Room {{roomId}}</h2>
  <p>Within Room {{roomId}}, we have the following occupants. Use the form below to
    make edits to the room sign-up.

     <table class="table table-bordered table-hover table-condensed">
         <tr ng-repeat="thing in guestsArray">
          <!-- occupant code -->
           <td ><span editable-text="thing.guest_name" e-form="rowform" e-required class="occupant"> </span></td>
            <td style="white-space:nowrap">
               <form editable-form name="rowform" onaftersave="updateOccupants(record.guest_name, record.users_id, record.rooms_id )"  ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == record">
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">Update</button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">Cancel</button>
              </form>
              <div class="buttons" ng-show="!rowform.$visible">
                <button class="btn btn-primary" ng-click="rowform.$show()">Edit</button>
              </div>
         </tr>    <!--   end row-->
 </table>  end occupant code

</div>

      </div><!-- end container -->
</div><!-- end id for export pdf -->
</md-content>
