<div ng-include="nav.html"></div>
<!-- <md-content>  need a ng-init to pass in eventid -->
<md-content>
  <div class="row">
    <div class="container">
      <div class="col-md-12">
          <div>
              <h2>Room {{roomId}}</h2>
              <p>Within Room {{roomId}}, we have the following occupants. Use the form below to
                  make edits to the room sign-up.

              <table class="table table-bordered table-hover table-condensed">
                <tr ng-repeat="thing in guests">
                    <td>
                      <a href="#" editable-text="thing.guest_name">{{ thing.guest_name || "empty" }}</a>
                    </td>
                </tr>
              </table>

              <button class="btn btn-primary" ng-click="showMe()">Save</button>

          </div>
      </div>
    </div>
  </div>
</md-content>
