<div ng-include="nav.html"></div>
<!-- <md-content>  need a ng-init to pass in eventid -->
<md-content>
  <div class="row">
    <div class="container">
      <div class="col-md-12">
          <div>
              <h4>Room {{roomId}}</h4>
              <p>Click on an empty row below to enter a name into this room.

              <table class="table table-bordered table-hover table-condensed">
                <tr ng-repeat="thing in guests">
                    <td>
                      <a href="#" editable-text="thing.guest_name">{{ thing.guest_name || "empty" }}</a>
                    </td>
                </tr>
              </table>

              <button class="createEventButton btn-sm" ng-click="showMe()">Save</button>

          </div>
      </div>
    </div>
  </div>
</md-content>
