
<div class="survey">
  <form name="myForm" ng-controller="surveyController" class="surveyContainer">

    <md-radio-group ng-model="justMe">
      <md-radio-button class="md-primary" valu="true">I would like a room for just me</md-radio-button>
    </md-radio-group>

    <label>
      <input type="checkbox" ng-model="meAndNonPaddlers" value="true">
      I would like a room for me and non-paddlers
    </label><br/>

    <label>Number of non-paddlers:
    <input type="number" name="input" ng-model="numNonPaddlers"
           min="0" max="20" required>
    </label><br/>

    <label>
      <input type="checkbox" ng-model="meAndOnePaddler" value="">
      I would like to share a room with one paddler
    </label><br/>

    <label>
      <input type="checkbox" ng-model="meAndPaddlers" value="">
      I would like to share a room with as many paddlers as possible
    </label><br/>

    <div class="form-group">
      <label class="control-label"></label>
      <textarea class="form-control" type= "text" ng-model= "notes_survey_room" value= "" placeholder="notes" rows="8"></textarea>
    </div>

    <input class="btn btn-primary btn-lg btn-block" type="button" name="submitButton" id="submitButton" value="submit" ng-click="submitHotel()">

   </form>
</div>
