
<div class="survey">
  <form name="myForm" ng-controller="surveyController" class="surveyContainer">

    <label>
      <input class="btn btn-primary btn-lg btn-block" type="button" ng-click="responseYes()" value="I believe I will attend this event">
    </label><br/>

    <label>
      <input class="btn btn-primary btn-lg btn-block" type="button" ng-model="attending" value="I may attend this event">
    </label><br/>

    <label>
      <input class="btn btn-primary btn-lg btn-block" type="button" ng-click="responseNo()" value="I don't believe I will attend this event">
    </label><br/>

  </form>
</div>
