
<div class="survey2">
  <form name="myForm" ng-controller="surveyController" class="surveyContainer2 md-whiteframe-1dp">
<h1 class="surveyTitle"> What is your room preference?</h1><br/><br/>
<!-- Begin radio group -->
    <md-radio-group ng-model="roommateOption">
      <md-radio-button class="md-primary surveyRadio" value="No preference."><p class="radioText">Room for just me</p></md-radio-button>

      <div class="nonPaddlers">

               <div class="col-sm-6 nonPads">
                 <div class="form-group">
                   <md-input-container md-no-float class="md-block">
                     <md-radio-button class="md-primary" value="Room with non-paddlers"><p class="radioText">Room for me and non-paddlers</p></md-radio-button>
                   </md-input-container>
                 </div>
               </div><!-- Col -->

               <div class="col-sm-6 ">
                 <div class="form-group">
                   <!-- Number of non-paddlers -->
                         <md-input-container style="margin-right: 10px;">
                           <label>Number of non-paddlers</label>
                           <md-select ng-model="number">
                             <md-option value="1">1</md-option>
                             <md-option value="2">2</md-option>
                             <md-option value="3">3</md-option>
                             <md-option value="4">4</md-option>
                             <md-option value="5">5</md-option>
                             <md-option value="7">7</md-option>
                             <md-option value="8">8</md-option>
                             <md-option value="9">9</md-option>
                             <md-option value="10">10</md-option>
                           </md-select>
                         </md-input-container>
                   <!-- End Number of non-paddlers -->
                </div>
              </div>
          </div>
      <!-- <div class="nonPaddlers">
            <md-radio-button class="md-primary" value="non-paddlers"><p class="radioText">Room for me and non-paddlers</p></md-radio-button> -->


      <md-radio-button class="md-primary" value="Room with one paddler."><p class="radioText">Room with one paddler</p></md-radio-button>

        <md-radio-button class="md-primary" value="Room with many paddlers."><p class="radioText">Room with as many paddlers as possible</p></md-radio-button>
      </md-radio-group>
  <!-- End of radio group -->
      <div class="form-group">
        <md-input-container md-no-float class="md-block">
          <textarea ng-model="notes_survey_room" md-maxlength="150" rows="3" placeholder="Notes"></textarea>
        </md-input-container>

<!-- Submit button -->
    <md-button class="md-raised surveyButton" ng-click="submitHotel()"> Submit </md-button>

   </form>
</div>
