
<div class="survey">
  <form name="myForm" ng-controller="surveyController" class="surveyContainer">
    <h1 class="surveyTitle"> Are you planning on attending this event?</h1><br/><br/>

      <md-button class="md-raised surveyButton" ng-click="attendResponse('yes')"> I believe I will attend this event </md-button><br/>

      <md-button class="md-raised surveyButton" ng-click="attendResponse('maybe')"> I may attend this event </md-button><br/>

      <md-button class="md-raised surveyButton" ng-click="attendResponse('no')">I don't believe I will attend this event</md-button><br/>

  </form>
</div>
