
<div class="survey">
  <form name="myForm" ng-controller="surveyController" class="surveyContainer">

    <label>
      <input class="btn btn-primary btn-lg btn-block" type="button" ng-click="attendResponse('yes')" value="I believe I will attend this event"></input>
    </label><br/>

    <label>
      <input class="btn btn-primary btn-lg btn-block" type="button" ng-click="attendResponse('maybe')" value="I may attend this event"></input>
    </label><br/>

    <label>
      <input class="btn btn-primary btn-lg btn-block" type="button" ng-click="attendResponse('no')" value="I don't believe I will attend this event"></input>
    </label><br/>

  </form>
</div>
