
<div class="survey">
  <form name="myForm" ng-controller="surveyController" class="surveyContainer">

    <label>
      <input class="btn btn-primary btn-lg btn-block" type="button" ng-click="responseHotel()" value="I would like to stay in the team hotel block."></input>
    </label><br/>

    <label>
      <input class="btn btn-primary btn-lg btn-block" type="button" ng-click="responseOtherAccommodation()" value="I will arrange my own accommodations."></input>
    </label><br/>

  </form>
</div>
