
<md-content>
<div class="row eventDiv md-whiteframe-1dp surveyContainer">

  <!-- <div>
    <img class="dragonBoats" src="assets/images/dragon_boat_2.jpg" alt="" />
  </div> -->

    <div class="eventDiv2" ng-init="getInformation()">
        <div class="eventBackground">
          <div>
            <h2 class="eventName">{{eventData.event_name}}</h2>
          </div>
        </div>
        <div class="eventDate">
          <h3 class="eventDatesHeader"><i>{{ (eventData.begin_date | date: "MMMM dd, yyyy") }} - {{ (eventData.end_date | date: "MMMM dd, yyyy") }}</i></h3>          <h4>{{eventData.company}}</h4>
        </div>
    </div>

      <div class="eventDiv3">
        <div class="col-xs-6 col-md-4 eventInfo">
          <h3 class="eventHeaders">Event Address</h3>

          <p>{{eventData.address_one}}</p>
          <p>{{eventData.event_city}}, {{eventData.event_state_province}}</p>
        </div>
        <div class="col-xs-6 col-md-4">
          <h3 class="eventHeaders">Event Information</h3>

          <p><b>Event Website:</b> <a href="{{eventData.event_url}}" target="_blank">{{eventData.event_url}}</a></p>
          <!-- <p><b>Schedule:</b> <a href="{{eventData.schedule_url}}" target="_blank">{{eventData.schedule_url}}</a></p> -->
        </div>
        <div class="col-xs-6 col-md-4">
          <h3 class="eventHeaders">Hotel Information</h3>

          <p><b>Hotel Name:</b> {{eventData.hotel_name}}</p>

          <a href="{{eventData.hotel_url}}" target="_blank">Hotel Website</a>

        </div>
      </div>

      <div class="nextSteps">
          <h4 class="nextStepsHeader">Next Steps</h4>
          <h4 class="helloAgain">Hello, {{hello | uppercase}}!
          <hr>
  {{pageMessage}} </h4>
        <md-button class="md-raised eventButton" ng-hide="pageMessage2==''"><a ng-href="{{pageMessage2}}">{{pageMessage3}} </a></md-button>
      </div>
    </div>
        </md-content>
