<div class="row eventDiv md-whiteframe-1dp surveyContainer">

  <div>
    <img class="dragonBoats" src="assets/images/dragon_boat_2.jpg" alt="" />
  </div>

    <div class="eventDiv2" ng-init="getInformation()">

        <h1>{{eventData.event_name}}</h1>
        <hr>
        <h4><i>Event Dates: {{ (eventData.begin_date | date: "MM-dd-yyyy") }} - {{ (eventData.end_date | date: "MM-dd-yyyy") }}</i></h4>

        <div class="col-xs-6 col-sm-4">

              <h4>{{eventData.company}}</h4>
                    <br>
              <p>Address: {{eventData.address_one}}</p>
              <p>{{eventData.address_two}}</p>
              <p>{{eventData.event_city}}, {{eventData.event_state_province}}</p>

              <p><b>Event Website:</b> <a href="{{eventData.event_url}}" target="_blank">{{eventData.event_url}}</a></p>
              <p><b>Schedule:</b> <a href="{{eventData.schedule_url}}" target="_blank">{{eventData.schedule_url}}</a></p>
              <p><b>Hotel Name:</b> {{eventData.hotel_name}}</p>
              <p><b>Hotel:</b> <a href="{{eventData.hotel_url}}" target="_blank">{{eventData.hotel_url}}</a></p>

              <!-- <p><b>Results:</b> <a href="{{eventData.results_url}}" target="_blank">{{eventData.results_url}}</a></p> -->
        </div>


    <div class="col-xs-6 nextSteps">
      <h4>Next Steps:</h4>
      Hello, {{hello | uppercase}}! <br><br>

      {{pageMessage}} <a ng-href="{{pageMessage2}}">{{pageMessage3}} </a>
    </div>
      <div class="col-md-4 line">
      </div>
  </div>
</div>
