<!DOCTYPE html>
<html ng-app="DRGNBT">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <script type="text/javascript" src="vendors/angular.min.js"></script>
    <script type="text/javascript" src="scripts/clientApp.js"></script>
    <link rel="stylesheet" href="vendors/bootstrap.min.css"></link>
    <link rel="stylesheet" href="assets/sheetrock.css"></link>

  </head>
  <body ng-controller="LoginController">
<div class="row">
  <div class="container">
    <div class="col-md-12">

    <h2>User Login</h2>


    <input type="text" ng-model="user.username" name="username" placeholder="Username"/><br>
    <input type="password" ng-model="user.password" name="password" placeholder="Password"/><br>
    <br>


        <button type="submit" ng-click="login()">Submit</button>
      </div>
    </div>
  </div>

  </body>
</html>
