<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <script type="text/javascript" src="vendors/angular.min.js"></script>
    <script type="text/javascript" src="scripts/clientApp.js"></script>
    <link rel="stylesheet" href="vendors/bootstrap.min.css"></link>
    <link rel="stylesheet" href="assets/sheetrock.css"></link>

    <title>Register New User </title>
  </head>
  <body ng-app="DRGNBT">
      <div class="instructions">
          <div class="container">
              <h1 class="lead">Register New User</h1>
          </div>
      </div>

      <div class="container">
          <!-- Set action and method -->
          <form action="/register" method="post">
              <div>
                  <label for="username">Username:</label>
                  <input type="text" name="username" id="username">
              </div>

              <div>
                  <label for="password">Password:</label>
                  <input type="password" name="password" id="password">
              </div>

              <input type="submit" value="Register"/>
          </form>
      </div>
  </body>
</html>
