
html body {
  max-height: 1300px;
  font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
}

h3 {
  font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: #13647F;
}

h4 {
  font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #13647F;
}

a:link {
    text-decoration: none;
}

.takeSurvey {
  color: white;
  font-size: 30px;
  /*background-color: #26d7fe;*/
  padding: 5px;
  text-align: center;
  margin-top: 30px;
}

.takeSurvey:hover{
  color: #459ec1;
}

hr {
  border-color: #ff9900;
}
.dragonBoats {
  height: 400px;
  width: 100%;
  padding: 0px;
}

.hotelTime{
  display: inline;
}

.inputs{
  /*display: inline;*/
  /*padding: 0px;*/
}

.element.style {
  width: 400px;
}

.md-grid-list md-grid-tile figure{
  display: none;
}

.gridListdemoBasicUsage md-grid-list {
  margin: 1px;
  padding:0px;
}

.gridListdemoBasicUsage .gray {
  background: #f5f5f5; }

h3 {
  font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: #ff9900;
}

.hotelButtons {
  margin: 0px;
  padding: 0px;
}

.logo {
  float: left;
  width: 260px;
  height: 80px;
  display: inline-flex;
  padding: 0px;
}

.container {
  width: 1250px;
}

/*THANK YOU STYLING*/
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.water {
  border-top: 4px;
  border-top-color: #ff9900;
  border-top-style: solid;
  background-image:url("images/water.jpg");
}

.allThanksContainer {
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
  padding: 2cm 7cm 17cm 7cm;
}

.check {
  font-size: 100px;
  text-align: center;
  display: block;
  padding: 0px;
  color: white;
}

.checkContainer {
  margin-top: 30px;
  padding: 0px;
}

.thankYou {
  font-size: 60px;
  font-weight: bold;
  /*width: 1000px;*/
  margin-left: auto;
  margin-right: auto;
  float: none;
  /*display: block;*/
}

.thankYouContainer {
  color: white;
  float: none;
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
}

.contactShortly {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  /*width: 1000px;*/
  float: none;
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  color: white;
}

/*SURVEY STYLING*/
.nonPads {
  padding: 0px !important;
}

.nonPaddlers {
  display: inline-flex;
  width: 700px;
}

.md-button.md-raised:not([disabled]):hover {
  background-color: #13647F;
}

.md-button.md-raised {
  color: white;
  background-color: #3c84a2;
  font-weight: 500;
  margin: 15px;
}

.md-raised:hover {
  /*background-color: !important blue;*/
  font-weight: 500;
  margin: 15px;
}

.surveyButton {
  min-height: 70px !important;
  width: 700px;
  font-size: 16px !important;
  line-height: 10px;
  display: flex;
  max-width: 100%;
  text-wrap: none;
  background-color: blue;
  color: blue;
}

.nextStepsHeader2 {
  color: !important white;
}

.surveyButton:hover {
  background-color: red;
}

.surveyTitle {
  color: #13647F;
  font-size: 34px;
  /*text-align: center;*/
  padding: 8px;
  margin: 0px;
}

.survey {
  width: 1000px ;
  margin: 16px auto;
  font-size: 16px;
	padding: 60px;
  text-align: center;
}

.survey2 {
  width: 1000px ;
  margin: 16px auto;
  font-size: 16px;
	padding: 60px;
}

.surveyContainer {
  border-top: 6px;
  border-top-color: #ff9900;
  border-top-style: solid;
	background: white;
  /*padding: 2em 5em 2em 5em;*/
  max-height: 840px;
  max-width: 870px;
  margin-left: auto;
  margin-right: auto;
}

.surveyContainer2 {
  border-top: 6px;
  border-top-color: #ff9900;
  border-top-style: solid;
	background: white;
  max-height: 840px;
  max-width: 870px;
  margin-left: auto;
  margin-right: auto;
}

/*VIEW EVENT PAGE*/

.nextStepsHeader {
  margin-top: 0px;
  color: white;
  font-weight: bold;
}

.nextSteps {
  color: white;
  padding: 35px;
  text-align: center;
  /*background-color: #3c84a2;*/
  background-color: #3c84a2;
  /*border-bottom: 2px;
  border-bottom-color: #ff9900;
  border-bottom-style: solid;  */
  /*margin-top: 0px;*/
  /*width: 500px;*/
  /*height: 250px;*/
  /*margin-left: 80px;*/
}

.eventHeaders {
  color: #ff9900;
}

.nextSteps2 {
  display: flex;
  text-align: center;
}

.fa-exclamation{
  font-size: 40px;
  margin-right: 15px;
}

.hello {
  /*display: flex;*/
}

.helloAgain {
  /*padding-top: 20px;*/
  color: white;
  font-size: 18px;
}

.eventDiv {
  padding: 0px !important;
  max-height: 2000px;
  /*padding-bottom: 30px;*/
  max-width: 1000px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}

.eventButton {
  margin-left: 20px !important;
  background-color: white !important;
  height: 60px !important;
  padding: 10px !important;
}



.eventDiv2 {
  padding:0.3cm 1cm 0cm 1cm;
}

.eventDiv3 {
  padding:0.3cm 1cm 0cm 1cm;
  margin: 10px;
  padding-bottom: 0px;
  height: 170px;
  /*border-bottom: 2px;
  border-bottom-color: #ff9900;
  border-bottom-style: solid;*/
}

/*ADMIN TABS STYLING*/

md-tabs-wrapper {

}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: #ff9900 !important;
    background-color: #ff9900 !important;
}

md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
  color: #e4e4e4 !important;
}

md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active md-icon, md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active md-icon, md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused, md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused md-icon {
  color: #fff !important;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #3c84a2;
}

input.md-input:focus{ border-color: green; }

md-content {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

md-tabs-canvas {
  background-color: #3c84a2;
  /*background-color: #faa723;*/
}

md-tabs.md-dynamic-height md-tabs-content-wrapper {
  padding: 0 6em 2em 6em;
}

.adminButtons {
  float: none;
  /*display:flex;*/
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.ulButtons {
    list-style: none;
    padding: 0;
    margin: 2px;
    float: none;
    /*display: inline-block;*/
    margin-left: auto;
    margin-right: auto;
    /*text-align: center;*/
}

/*.col-sm-6{
  padding: 0px;
}*/

.tabLi {
    width: 300px;
    border: 1px solid #000;
    /*border-bottom-width: 0;*/
    margin: 0px;
    /*margin-bottom: 10px;*/
    padding: 10px 20px 10px 20px;
    background-color: #3c84a2;
    border-color: transparent;
    color: white;
    /*color: #696969;*/
    float: none;
    display: inline-block;
    margin: 2px;
    /*margin-left: auto;
    margin-right: auto;*/
    text-align: center;
}

.tabLi:hover {
  cursor: pointer;
  background: #13647F;
}


#tabs {
  margin-top: 50px;
  display: block;
  /*background-color: blue;*/
}

#mainView {
  /*border: 1px solid black;*/
	clear: both;
	padding: 0 1em;
  width: 1000px;
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#homeEventDisplay {
  background-color:
}

.active {
  background-color: #13647F;
  color: white;
}

/*FOOTER & NAVIGATION STYLING*/
footer {
  background-color: #677077;
  height: 100px;
  color: white;
  font-size: 20px;
  margin: auto;
  text-align:center;
  padding:25px;
}

nav {
  /*background: #3c84a2;*/
}

.navbar-nav>li>a {
  color: #3c84a2;
}

.navbar-nav {
  margin-top: 20px;
}


/*HOME PAGE HEADER STYLING*/
.wide{
  border-top: 4px;
  border-top-color: #ff9900;
  border-top-style: solid;
  width:100%;
  height:450px;;
  /*height:calc(100% - 1px);*/
  background-image:url("images/team_boat.jpg");
  /*background-size:cover;*/
  text-align:center;
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wide img {
  width:100%;
}

.homeHeader {
  font-weight: 700;
  color: white;
  font-size: 60px;
  letter-spacing: 5px;
  text-align:center;
  padding-top:140px;
}

.line {
  padding-top:170px;
  white-space:no-wrap;
  overflow:hidden;
  text-align:center;
}

.upcomingEvents {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  /*background-color: black;*/
}

.homeEvent {
 /*display: inline-flex;*/
 /*background-color: #ff9900;*/
 /*background-color: #faa723;*/
 /*float: none;*/
 margin-left: auto;
 margin-right: auto;
 width: 400px;
 height: 260px;
 border: 3px solid orange;
 padding: 60px 30px 60px 30px;
 margin: 25px;
 text-align: center;
 opacity: 0.7;

}

.homeEvent:hover {
  background-color: #faa723;
  opacity: 1;
}

.adminEvent {
 /*display: inline-flex;*/
 /*background-color: #ff9900;*/
 /*background-color: #faa723;*/

 /*width: 100px;*/
 border: 3px solid #faa723;
 /*padding: 60px 30px 60px 30px;*/
 /*margin: 25px;*/
 text-align: center;
 opacity: 0.7;
}

.adminEvent:hover {
  background-color: #faa723;
  opacity: 1;
}

.eventHeader {
  font-weight: 200;
}

/*CREATE EVENT STYLING*/
.panel-title{
  color: black;
  font-size: 30px;
}

.createEventContainer{
  width: 1000px ;
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.createEventButton {
    background: #3c84a2;
    border-color: transparent;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
  }

.createEventButton:hover {
    background: #13647F;
}

/*LOGIN STYLING*/

.login {
  width: 600px ;
  margin: 16px auto;
  font-size: 16px;
	padding: 70px;
}

.login-header,
.login  {
  margin-top: 0;
  margin-bottom: 0;
}

.login-header {
  background: #3c84a2;
  padding: 20px;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
  border-bottom: 3px;
  border-bottom-color: #ff9900;
  border-bottom-style: solid;
}

.login-container {
	background: #ecf0f1;
  padding: 25px;
  /*box-shadow: 0 0 15px #e6e6e6;*/

}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 0px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.md-whiteframe-1dp {
  padding: 30px;
}

.reg{
	color: #324452;
	text-align: center;
	cursor: pointer;
}

.login input[type="password"] {
  background: #fff;

}

.login input[type="submit"] {
  background: #3c84a2;
  border-color: transparent;
  color: white;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #13647F;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
}

.formLogo {
	color: #324452;
	font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 35px;
	letter-spacing: 1px;
	text-align: center;
  display: block;
  margin: 0 auto;

}

/*ADMIN PAGES STYLING*/

.selectEvent {
 /*display: inline-flex;*/
 /*background-color: #ff9900;*/
 /*background-color: #faa723;*/
 width: 225px;
 border: 3px solid #faa723;
 padding: 20px 10px;
 margin: 10px;
 text-align: center;
 opacity: 0.7;

}

button.md-button.md-raised:not([disabled]) {
  box-shadow: none;
}

.md-button.md-raised:not([disabled]):hover {
  background-color: !important blue;
}

.selectEvent:hover {
  background-color: #faa723;
  opacity: 1;

}

/*ROOM ASSIGNER STYLING*/
.roomAssigner {
  background: #b5d5e3;
  width: 325px;
  border: 3px solid #faa723;
  padding: 3px;
  margin: 10px;
  text-align: left;
}

.occupant {
  width: 125px;
  font-weight: bold;
}

thead {
  background-color: #b5d5e3;
}

.rowline {
  border-bottom: 3px solid #3c84a2;
}

.dollarsign {
  margin-top: -93px;
}

.price {
  margin: 20px;
}

.subhead {
  font: 24px/28px “Helvetica Neue”, Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #13647F;
}

.subdate {
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 30px;
}

.bottomspace {
  margin-bottom: 20px;
}

.bottomspacesmall {
  margin-bottom: 10px;
}

.capitalize {
  text-transform: capitalize;;
}

md-input-container:not(.md-input-invalid).md-input-focused label {
    color: #13647F;
}

.inSurvey {
  text-align: right;
  font-weight: bold;
  margin-top: 18px;
}
