<nav>
  <div class="container navContainer">
    <div class="navbar-header">
      <a href="/"><img src="assets/images/malia-logo-2013.gif" alt="logo" class="logo"/></a>
      <!-- <a class="navbar-brand" href="/">BRIMSTONE </a> -->
    </div>
<!-- Navigation List -->
    <ul class="nav navbar-nav navbar-right" ng-controller="loginController">

      <li><a href="#home">Home</a></li>
      <li><a href="#adminSurvey">Admin</a></li>
      <!-- <li><a href="#viewEvent">Event</a></li> -->
      <!-- <li><a href="#otherAccommodation">Other</a></li> -->
      <!-- <li><a href="#roomAssignment">Room Assignment</a></li> -->
      <!-- <li><a href="#surveyStep1">1</a></li>
      <li><a href="#surveyStep2">2</a></li>
      <li><a href="#surveyStep3">3</a></li> -->
      <!-- <li><a href="#thanksResponse">Thanks</a></li> -->
      <li><a href="#home" role="button" ng-click="logout()">Sign Out</a></li>
    </ul>

  </div>
</nav>
